<!DOCTYPE html>
<html ng-app="noughtsAndCrossesApp">
<head>

    <title>Noughts and Crosses</title>
    <link rel="stylesheet" type="text/css" href="css/main.min.css">
    <script src="/angular/angular.min.js"></script>

</head>

<body ng-controller="noughtsAndCrossesController" >
<div>{{gameModel.outcome + ' ' + gameModel.winner}}</div>
{{gameModel.gameboard}}
<button ng-click="newGame()">newgame</button>
<table>
    <tr>
        <td ng-click="makeMove(0)"></td>
        <td ng-click="makeMove(1)"></td>
        <td ng-click="makeMove(2)"></td>
    </tr>

    <tr>
        <td ng-click="makeMove(3)"></td>
        <td ng-click="makeMove(4)"></td>
        <td ng-click="makeMove(5)"></td>
    </tr>

    <tr>
        <td ng-click="makeMove(6)"></td>
        <td ng-click="makeMove(7)"></td>
        <td ng-click="makeMove(8)"></td>
    </tr>

</table>

<img ng-click="changePlayer1Type()" class={{gameModel.player1}} src="images/blank.png">
<img ng-click="changePlayer2Type()" class={{gameModel.player2}} src="images/blank.png">

<script src="scripts/built.js"></script>
</body>
</html>


        foo bar baz