* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #a4b5ff;
}

h1 {
    font-size: 50px;
    display: inline-block;
    margin-left: 8px;
    color: #eaeeff;
}

h3 {
    margin-left: 4px;
    color: #eaeeff;
}

aside p {
    margin-bottom:2px;
    margin-top: 2px;
    margin-left: 2px;
    padding-bottom:8px;
}

h4 {
    margin:0;
    color: #eaeeff;
}

#foot {
    margin:0;
    color: #eaeeff;
}

p {
    margin-left: 4px;
}

header {
    background-color: #3b5dff;
    color: #eaeeff;
    font-size: 21px;
    font: bold;
    margin-bottom: 4px;
}

aside {
    display: inline-block;
    width: 200px;
    vertical-align: top;

}

aside table {
    width: 200px;
    color: #3b5dff;
}

aside h3 {
    font-size: 18px;
    margin: 0;
    padding: 5px;
    background-color: #3b5dff;
    color: #eaeeff;
    font: bold;
}

main {
    background-color: #3b5dff;
    width: 780px;
    display: inline-block;
}

#contentContainer {
    width: 986px;
    margin-top: 0;
    margin-bottom: 0;
    Margin-left: auto;
    Margin-right: auto;
    background-color: #eaeeff;
}


footer {
    background-color: #3b5dff;
}

button {
    width:90px;
    height:33px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.buttonStyle {
    margin-left: -3px;
}

td {
    width:205px;
    height:205px;
    border-style:solid;
    border-width:3px;
    border-color:#700b0b;
}

td.left{
    border-left-width:0;
}

td.top{
    border-top-width:0;
}

td.bottom{
    border-bottom-width:0;
}

td.right{
    border-right-width:0;
}
table button {
    background: transparent;
    width:200px;
    height:200px;
    margin:0;
    border: none !important;
    padding:0;
}

#ResetButton {
    height:75px;
    width:130px;
    background:#700b0b;
    color:#ffffff;
}
.hidebutton {
    display:none;
}

img{
    display:none;
    height:200px;
    width:200px;
    padding:0;
    border:none !important;
}

.showimg {
    display:table-cell;
}

li {
    list-style-type:none;
}